.editor {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  display: flex;
}

.logo {
  width: 120px;
  height: 31px;
  background: #1470c5;
  /* background-image: url("https://img.icons8.com/fluency-systems-filled/48/000000/sql.png");
  background-repeat:no-repeat; */
  margin: 16px 24px 16px 0;
  float: left;
}

.demo {
  display: flex;
}

.textarea {
  margin-top: 10px;
  background: #fafafa;
  width: 50%;
  height: 60vh;
  padding: 20px;
  font-size: 14px;
  outline: none;
}

.markdown {
  margin-top: 10px;
  width: 50%;
  height: 60vh;
  padding: 20px;
  font-size: 14px;
}
